.form-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-form {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-input {
  width: 98%;
  margin: 10px;
}

.search-button {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

@media (min-width: 800px) {
  .search-form {
    width: 790px;
    flex-direction: row;
  }

  .search-input {
    width: 80%;
  }

  .search-button {
    width: 20%;
    align-items: flex-end;
    height: 57px;
  }
}
