<mh-modal-screen>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sed erat eu ipsum condimentum porttitor non a felis.
  Mauris bibendum suscipit gravida. Phasellus tincidunt arcu risus, sit amet fermentum magna mollis nec.
  Sed a porttitor arcu, ut luctus nisl. Morbi rutrum dui id neque egestas, ut pulvinar metus fermentum.
  Donec vestibulum mi at massa volutpat, eu semper eros efficitur. Aenean tempus leo nec gravida varius.
  Phasellus vel augue tortor. Donec felis lacus, scelerisque sit amet tellus vitae, congue fermentum felis.
  Aenean in posuere turpis. Fusce at mauris nec massa lacinia vestibulum in ac turpis.
</mh-modal-screen>
<mh-separator (newElement)="logEvent()"></mh-separator>
