<mh-modal-screen [show]="!!popUp">
  <mh-modal-window
    [modalType]="modalMessateType"
    (closeWindow)="closePopup()"
  >
    <mh-modal-message
      [message]="modalMessateText"
      [messageType]="messageType"
      (answerMessage)="closePopup()"
    ></mh-modal-message>
  </mh-modal-window>
</mh-modal-screen>
<mh-modal-screen [show]="loading">
  <mh-loading></mh-loading>
</mh-modal-screen>
<mh-modal-screen class="album-form" [show]="showAlbumForm">
  <mh-modal-window (closeWindow)="closeAlbumForm()">
    <mh-album-form
      [artistList]="artistFormAutocompleteList"
      (artistPartialSearch)="albumFormPartialSearch($event)"
      (submitForm)="setAlbumData($event)"
      (closeForm)="closeAlbumForm()"
      [initialData]="albumInitialData"
    ></mh-album-form>
  </mh-modal-window>
</mh-modal-screen>
<mh-nav-bar
  navText="Albums"
  [showBack]="true"
  [options]="menuOptions"
  (goingBack)="goBack()"
  (optionSelected)="navigate($event)"
></mh-nav-bar>
<div class="search-form">
  <mh-search-album-form
    [artistNamesList]="artistSearchAutocompletList"
    [initialArtist]="initialArtist"
    (artistPartialSearch)="albumSearchPartialSearch($event)"
    (searchCriteria)="launchSearchAlbum($event)"
></mh-search-album-form>
</div>
<div class="album-separator">
  <mh-separator (newElement)="openAlbumForm('create')"></mh-separator>
</div>
<div class="album-grid">
  <mh-pag-grid
    [cardsList]="cardsList"
    [total]="total"
  ></mh-pag-grid>
</div>
