<div class="artist-form">
  <mh-upload-file
    class="field upload"
    [imageContent]="photo"
    (imageSelected)="setImageData($event)"
  ></mh-upload-file>
  <form [formGroup]="artistForm" class="fields-form" (submit)="onSubmitArtistData($event)">
    <mh-nice-input class="field" label="Name of the artist*" [errorMsg]="validationsError.artistName">
      <input type="text" formControlName="artistName" required/>
    </mh-nice-input>
    <mh-nice-input class="field" label="Birthday of the artist*" [errorMsg]="validationsError.birthDay">
      <input type="text" formControlName="birthDay" placeholder="dd/mm/yyyy" required/>
    </mh-nice-input>
    <mh-nice-input class="field" label="Death date of the artist" [errorMsg]="validationsError.deathDate">
      <input type="text" formControlName="deathDate" placeholder="dd/mm/yyyy"/>
    </mh-nice-input>
    <div class="buttons">
      <mh-nice-button class="button">
        <button type="button" (click)="clickOnCloseButton()">Close</button>
      </mh-nice-button>
      <mh-nice-button class="button" [color]="saveButtonColor" [disabled]="!artistForm.valid || (!fileData && !photo)">
        <button type="submit" [disabled]="!artistForm.valid || (!fileData && !photo)">Save</button>
      </mh-nice-button>
    </div>
  </form>
</div>
