.card-grid {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.empty-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.empty-image {
  width: 305px;
  height: 204px;
  background-image: url(../../../assets/img/empty-list-mobile.png);
  background-position: center;
  background-repeat: no-repeat;
}

.empty-message {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  width: 304px;
  height: 52px;
  background-color: var(--secondary-color);
  color: var(--font-color-on-secondary);
  font-size: var(--font-size-small);
  border-radius: 26px;
}

@media (min-width: 800px) {
  .empty-image {
    width: 583px;
    height: 390px;
    background-image: url(../../../assets/img/empty-list-laptop.png);
  }

  .empty-message {
    width: 498px;
    font-size: var(--font-size-normal);
  }
}
