/* You can add global styles to this file, and also import other style files */

:root {
  --primary-color: #ffab00;
  --dark-primary-color: #e69a01;
  --secondary-color: #0054ff;
  --dark-secondary-color: #0242c6;
  --danger-color: #cf390a;
  --error-color: #ff0000;
  --neutral-color: #000000;
  --success-color: #34b910;
  --font-size-huge: 45px;
  --font-size-big: 36px;
  --font-size-normal: 24px;
  --font-size-small: 18px;
  --font-size-little: 12px;
  --font-color-on-primary: #ffffff;
  --font-color-on-secondary: #ffffff;
  --font-color-on-neutral: #ffffff;
  --border-round: 4px;
  --modal-shadow-box: #000000 3px 1px 10px 1px;
  --default-background-color: #ffffff;
  --font-color-on-default-background: #000000;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-image: url(assets/img/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #000000;
}
