.menu-list {
  width: 250px;
  padding: 10px 10px 1px 10px;
  background-color: var(--default-background-color);
  border-radius: var(--border-round);
}
@media (min-width: 800px) {
  .menu-list {
    width: 172px;
  }
}
